<app-ci-nav-bar></app-ci-nav-bar>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Call Opening Compliance %</p>
            <div id="chartContainer1" style="height: 200px; width: 100%;"></div>
        </div>
        <div class="col-md-4">
            <p>Call Recording DisClosure %</p>
            <div id="chartContainer2" style="height: 200px; width: 100%;"></div>
        </div>
        <div class="col-md-4">
            <p>Other LOB Check %</p>
            <div id="chartContainer3" style="height: 200px; width: 100%;"></div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <p>Self Help Option %</p>
            <div id="chartContainer4" style="height: 200px; width: 100%;"></div>
        </div>
        <div class="col-md-4">
            <p>Cancel Tech Visit %</p>
            <div id="chartContainer5" style="height: 200px; width: 100%;"></div>
        </div>
        
        <div class="col-md-4">
            <p>Call Closing Compliance %</p>
            <div id="chartContainer6" style="height: 200px; width: 100%;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4"></div>
    </div>
</div>