<app-crm-nav-bar></app-crm-nav-bar>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">123</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CALL VOLUME</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Outbound</p>
                            <p>23</p>

                        </div>
                        <div class="col-md-6">
                            <p>Inbound</p>
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">150</h5>
                    <h6 class="card-subtitle mb-2 text-muted">NUMBER OF CALLERS</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>No. of Agents</p>
                            <p>25</p>

                        </div>
                        <div class="col-md-6">
                            <p>Calls Per Agent</p>
                            <p>125</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">55</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CALL RESOLUTION</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Outbound</p>
                            <p>23</p>

                        </div>
                        <div class="col-md-6">
                            <p>Inbound</p>
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">120</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ABANDONED CALLS</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Avg Wait Time Until Abandon</p>
                            <p>10m 20s</p>

                        </div>
                        <div class="col-md-6">
                            <p>Avg IVR Wait Time</p>
                            <p>15m 05s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">120</h5>
                    
                    <hr>
                    <div id="chartContainer" style="height: 200px; width: 100%;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Average Handling Time</p>
                            <p>6m 26s</p>
                        </div>
                        <div class="col-md-6">
                            <p>Average Talk Time</p>
                            <p>5m 06s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">120</h5>
                    
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Average Handling Time</p>
                            <p>6m 26s</p>
                        </div>
                        <div class="col-md-6">
                            <p>Average Talk Time</p>
                            <p>5m 06s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>