<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#!"><img src="assets/Voice.ai-logo.png" alt="logo" ></a>
  
    <div class="collapse navbar-collapse custom-navbar" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto right-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><img class="logohome" src="assets/Home.jpg" alt="logo-home"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Johan deo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">logout</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/user.png" alt="arrow" class="user-img"></a>
        </li>
      </ul>
    </div>
  </nav>



<section class="bg-image-home">

    <div class="container ">
        <div class="row">
            <div class="col-md-12 first-container first-image">
                <div class="row">
                    <div class="col-md-6 col-12 order-sm-1 order-2 text-col">
                        <h1>CRM - Call Matedata Analysis</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <button type="button" class="btn btn-primary" routerLink="/crmoverview">View Dashboard</button>
                    </div>
                    <div class="col-md-6 col-sm-12 order-1"><img src="assets/CRM-analysis-single.jpg" alt="crm-analysis"
                            class="row-img"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 second-container second-image">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12"><img src="assets/call-ingestion-single.jpg"
                            alt="conversional-analysis" class="row-img"></div>
                    <div class="col-md-6 col-sm-12 col-12 text-col">
                        <h1>Conversational Analytics</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <button type="button" routerLink="/cioverview" class="btn btn-primary">View Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>